* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {    
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
}

p {
    padding: 10px 14px
}

h1 {
    padding: 0 14px 0;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    outline: inherit;
    padding: 14px;
    border: #FFFFFF solid 4px;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#content {
    background-image: url(./alex-haney-CAhjZmVk5H4-unsplash_2400x1600.jpg);
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.50);
}

nav {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.logo,
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 1;
}

.button {
    padding-bottom: 40px;
}